[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
python-dotenv = "*"
pymysql = "*"
pyjwt = "*"
requests = "*"
cryptography = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
