[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false

[packages]
flask = "*"
transformers = "*"
torch = {index = "pytorch",version = "==2.1.0"}
torchvision = {index = "pytorch",version = "==0.16.0"}
torchaudio = {index = "pytorch",version = "==2.1.0"}
jwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
