[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch_cpu"

[[source]]
url = "https://download.pytorch.org/whl/cu118/"
verify_ssl = true
name = "pytorch_cu118"

[torch_cpu]
torch = {index="pytorch_cpu"}
torchvision = {index="pytorch_cpu"}

[torch_cu118]
torch = {index="pytorch_cu118"}
torchvision = {index="pytorch_cu118"}

[packages]
flask = "*"
openai = "*"
python-dotenv = "*"
pymysql = "*"
pyjwt = "*"
requests = "*"
cryptography = "*"


[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
